*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: white;
}

.nav-logo{
    height:50px;
    width:150px;
}

.logo{
    background-image: url("imagess/photo3.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:50px;
    width:150px;
    
}
.border{
    border: 5px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin: 5px;
}

.add-first2{
    font-size: 1rem;
    margin:3px;
}

.add-icon{
    display: flex;
    text-align: center;
}
.nav-search{
    display: flex;
    background-color: pink;
    justify-content: space-evenly;
    width:620px;
    height:40px;
    border-radius: 4px;
}
.nav-search:hover{
    border:2px solid #febd68;
}
.search-input:hover{
    border:2px solid #febd68;
}

.search-select{
    background-color: #f3f3f3;
    width:40px;
    text-align: center;
    border-top-left-radius: 4px;
    border:none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
span{
    font-size: 0.7rem;

}
nav-second{
    font-size: 0.85rem;
    font-weight:700 ;
}
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items:center;
    justify-content: space-evenly;
}
.panel-opp p{
    display: inline;
    margin-left: 15px;
}
.panel-opp{
    width:70%;
    font-size: 0.85rem;
}
.panel.deals{
    font-size:0.85rem;
    font-weight: 700;
}


.hero-section{
    background-image: url("images/photo.png");
    height: 350px;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    color: white;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width:80%;
}
.hero-message a{
    color:#7fdeee;
}
.shop-section{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #f5f1f1;
}

.box{
    height:400px;
    width:23%;
    background-color: white;
    margin-top: 15px;
   padding: 20px 0 15px;
}
.box-img{
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.box-content p{
    color:#007185;
}

footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color:#374758;
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:200px;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
}

.foot-panel3{
    background-color:#222f3d;
    color:white;
    border-top:0.3px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4{
    background-color: #1e262c;
    color: white;
    height:76px;
    font-size: 0.7rem;
    text-align: center;
}
.page{
    padding-top:20px;
}
.copyright{
    padding-top: 10px;
}

.still-pending{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:10px;
    color: red;
    height: 50px;
    display: flex;
    justify-content: center;
    font-weight: 1000;
    font-size: 40px;
    align-items: center;
}
.still-pending{
    animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
